@media screen, print {
  #card-pattern {
    border: 1px solid red;
    font: 10pt 'Arial', sans-serif;
    height: 165mm;
    margin: 0;
    text: 18pt;
    width: 257mm;
  }

  #card-pattern span {
    font-size: 7pt;
  }

  body {
    margin: 0;
    padding: 0;
  }

  /* Table */

  #card-title,
  #card-type {
    font-weight: bold;
    padding: 0;
    text-align: center;
    vertical-align: middle;
  }

  #card-title {
    font-size: 18pt;
  }

  #card-type {
    font-size: 14pt;
  }

  table {
    border-collapse: collapse;
    border-style: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    width: 100%;
  }

  table td {
    border: 1px solid black;
    min-height: 17mm;
    padding: 0 18pt 8pt 18pt;
    text-indent: -10pt;
    vertical-align: text-top;
  }

  table th {
    border-width: 0;
    height: 0;
    margin: 0;
    padding: 0;
  }

  table th:first-child {
    width: 20mm;
  }

  table th:last-child {
    width: 60mm;
  }

  table tr:first-child {
    height: 0;
    margin: 0;
    padding: 0;
  }

  table tr:nth-child(2),
  table tr:nth-child(3) {
    height: 17mm
  }

  /* Print settings */

  @page {
    margin: 20mm;
  }

  @page:top {
    margin: 25mm;
  }
}
