@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Lato');

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 14pt;
  margin: 80px auto 1em auto;
  text-align: center;
}

body {
  background-color: #F6F6F6;
}

main {
  background-color: #fff;
  width: 257mm;
  margin: 15mm auto;
  margin-top: 15mm;
}

aside {
  color: #fff;
  display: inline-block;
  height: 100%;
  margin-top: 5px;
  vertical-align: middle;
}

aside a {
  color: #fff;
  text-decoration: none;
}

aside a::after {
  font-family: 'Do Hyeon', sans-serif;
}

aside span {
  font-size: large;
  font-weight: bold;
}

footer {
  background-color: #73A100; /*rgba(128,128,128,0.5);*/
  width: 100%;
  height: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0;
  padding: 10px;
  position: fixed;
}

input, textarea {
  display: block;
}

input[type='submit'] {
  display: inline-block;
}

img {
  margin: 5px auto;
  min-height: 100mm;
  max-height: 115mm;
  max-width: 184mm;
}

header {
  background-color: #0051AE;
  font-family: 'Do Hyeon', sans-serif;
  height: 15mm;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
}

#form {
  height:165mm;
}

nav {
  font-size: 14pt;
  height: 10mm;
  margin: 0 auto;
  width: 180mm;
  display: inline-block;
}

nav a {
  color: #fff;
  display: inline-block;
  height: 100%;
  /*line-height: 2.5em;*/
  margin:0;
  padding: 5px 10px;
  text-decoration: none;
}

nav a[href]:hover {
  background-color: #fff;
  color: #0051AE;
}

.card-pattern {
  border: 1px solid black;
  font: 10pt 'Arial', 'Lato', sans-serif;
  height: 165mm;
  margin: 0 auto;
  text: 18pt;
  width: 257mm;
}

.card-pattern span, label {
  font-size: 7pt;
}

.author {
  height: 35mm;
}

.govern{
  height: 30mm;
}

.address{
  height: 17mm;
}

.foto p {
  margin: 0;
}

.confirm-delete-form {
  background-color: #FB7800;
  left: 50%;
  padding: 20px;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.confirm-delete-form input {
  display: inline-block;
}

.page-nav {
  color: white;
  font-size: 18pt;
  text-decoration: none;
}

/*.page-nav:hover {*/
  /*color: goldenrod;*/
/*}*/

/* Table */
#all_relic {
  border-collapse: collapse;
  border-style: solid;
  font-size: small;
  font-family: 'Lato', sans-serif;
  height: 100%;
  /*margin: 80px 0 0 0;*/
  padding: 0;
  table-layout: fixed;
  width: 100%;
}

#all_relic td {
  border: 1px solid black;
  min-height: 17mm;
  padding: 0 18pt 8pt 18pt;
  text-indent: -10pt;
  vertical-align: text-top;
}

#all_relic th {
  border: 1px solid black;
}

#all_relic th:first-child {
  min-width: 400px;
}

.opr {
  min-width: 280px;
}

table {
  border-collapse: collapse;
  border-style: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  width: 100%;
}

td {
  border: 1px solid black;
  min-height: 17mm;
  padding: 0 18pt 8pt 18pt;
  text-indent: -10pt;
  vertical-align: text-top;
}

.card-pattern th {
  border-width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

.card-pattern {
  font-weight: bold;
}

th:first-child { /* force width of first column */
  width: 20mm;
}

th:last-child { /* force width of last column */
  width: 60mm;
}

.card-pattern thead {
  height: 0;
  margin: 0;
  padding: 0;
}

.card-pattern tbody tr:nth-child(1),
.card-pattern tbody tr:nth-child(2) {
  height: 17mm;
}

.card-title,
.card-type {
  font-weight: bold;
  padding: 14pt 0 0 0;
  text-align: center;
}

.card-title {
  font-size: 18pt;
}

.card-type {
  font-size: 14pt;
}

/* Print settings */

@media print {
  body, main {
    background-color: #fff;
    margin: 0;
    padding: 0;
  }

  aside,
  footer,
  header,
  nav {
    display: none;
  }

  .card-pattern {
    page-break-after: always;
  }
}

@page {
  size: A4 landscape;
  margin: 20mm;
}

@page :top {
  margin: 25mm;
}
