@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Lato');

body {
  background-color: #F6F6F6;
}

main {
  background-color: #fff;
  width: 257mm;
  margin: 0 auto;
}

aside {
  float: right;
}

footer {
  background-color: #73A100; /*rgba(128,128,128,0.5);*/
  width: 100%;
  height: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0;
  padding: 10px;
}

input, textarea {
  display: block;
}

input[type='submit'] {
  display: inline-block;
}

img {
  max-height: 120mm;
  max-width: 184mm;
}

nav {
  background-color: #0051AE;
  font-family: 'Do Hyeon', sans-serif;
  height: 15mm;
  text-align: center;
  width: 100%;
}

textarea {

}

#form {
  height:165mm;
}

.nav {
  font-size: 14pt;
  height: 100%;
  margin: 0 auto;
  width: 180mm;
}

.nav a {
  color: #fff;
  display: inline-block;
  height: 100%;
  line-height: 2.5em;
  margin:0;
  padding: 5px 10px;
  text-decoration: none;
}

.nav a:hover {
  background-color: #fff;
  color: #0051AE;
}

.card-pattern {
  border: 1px solid red;
  font: 10pt 'Arial', 'Lato', sans-serif;
  height: 165mm;
  margin: 0 auto;
  text: 18pt;
  width: 257mm;
}

.card-pattern span, label {
  font-size: 7pt;
}

.confirm-delete-form {
  background-color: #FB7800;
  left: 50%;
  padding: 20px;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.confirm-delete-form input {
  display: inline-block;
}

.page-nav {
  font-size: 18pt;
}

/* Table */

table {
  border-collapse: collapse;
  border-style: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  width: 100%;
}

td {
  border: 1px solid black;
  min-height: 17mm;
  padding: 0 18pt 8pt 18pt;
  text-indent: -10pt;
  vertical-align: text-top;
}

th {
  border-width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

th:first-child { /* force width of first column */
  width: 20mm;
}

th:last-child { /* force width of last column */
  width: 60mm;
}

thead {
  height: 0;
  margin: 0;
  padding: 0;
}

tbody tr:nth-child(1),
tbody tr:nth-child(2) {
  height: 17mm;
}

.card-title,
.card-type {
  font-weight: bold;
  padding: 14pt 0 0 0;
  text-align: center;
}

.card-title {
  font-size: 18pt;
}

.card-type {
  font-size: 14pt;
}

/* Print settings */

@media print {
  body {
    background-color: #fff;
    margin: 0;
    padding: 0;
  }

  aside,
  footer,
  nav {
    display: none;
  }

  .card-pattern {
    page-break-after: always;
  }
}

@page {
  size: A4 landscape;
  margin: 20mm;
}

@page :top {
  margin: 25mm;
}
