{% load static %}
<!DOCTYPE html>
<html>
<head lang="pl">
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'heritage_register/style.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" id="font-awsome">
  <title>freeGEZ &bullet; {% block title %}{% endblock %}</title>
</head>
<body>

{% block nav %}
{% endblock %}

{% block aside %}
{% endblock %}

{% block header %}
{% endblock %}
{#<main>#}
  {% block content %}
  {% endblock %}
{#</main>#}
{##}
{#<footer>#}
{#{% block footer %}#}
{#{% endblock %}#}
{#</footer>#}
</body>
</html>
