{% load static %}

<!DOCTYPE html>
<html>
<head lang="pl">
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'heritage_register/style.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" id="font-awsome">
  <title>freeGEZ</title>
</head>
<body>

{% block nav %}
  <nav>
    <div class="nav">
      <a href="{% url 'relic-create' %}">Nowa karta</a>
      <a href="{% url 'relic-details' %}">Przeglądanie kart</a>  <!-- TODO: change 1 to first object, if exists-->
      <a href="{% url 'pdf' %}">Export</a>
      {% if user.is_authenticated %}
        <a>menu zalogowany</a>
      {% else %}
        <a>menu</a>
      {% endif %}
    </div>

    <aside>
      {% if user.is_authenticated %}
        {{ user.username }}
        <p><a href="{% url 'logout' %}">Wyloguj</a></p>
      {% else %}
        <a href="{% url 'login' %}">Zaloguj</a> |
        <a href="{% url 'signup' %}">Zarejestruj</a>
      {% endif %}
    </aside>

  </nav>
{% endblock %}

{% block content %}
  {% if list_relics %}
    <main>
      {% for r in list_relics %}
        {% include 'heritage_register/relic_details.html' %}
      {% endfor %}
    </main>
    {% include 'heritage_register/footer.html' %}
  {% elif relic_update %}
    <main>
      {% include 'heritage_register/relic_input.html' %}
    </main>
    {% include 'heritage_register/relic_update.html' %}
  {% elif relics_table %}
    <main>
      {% include 'heritage_register/relic_list.html' %}
    </main>
    <footer></footer>
  {% else %}
    <main>
      {% include 'heritage_register/relic_input.html' %}
    </main>
    {% include 'heritage_register/relic_form.html' %}
  {% endif %}
{% endblock %}

{#{% block nav %}#}
{#{% endblock %}#}
{##}
{#{% block aside %}#}
{#{% endblock %}#}
{##}
{#{% block header %}#}
{#{% endblock %}#}
{#<main>#}
{#  {% block content %}#}
{#  {% endblock %}#}
{#</main>#}
{##}
{#<footer>#}
{#{% block footer %}#}
{#{% endblock %}#}
{#</footer>#}
</body>
</html>
