{% extends 'heritage_register/home.html' %}
{% block content %}

  <div id="card-pattern">
    <table>
      <!-- header -->
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <!-- 1st row -->
      <tbody>
        <tr>
          <td id="card-type">
            GEZ
          </td>
          <td colspan="2" id="card-title">
            KARTA ADRESOWA ZABYTKU NIERUCHOMEGO
          </td>
          <td rowspan="2">
            <span>3. Miejscowość</span>
          </td>
        </tr>
        <!-- 2nd row -->
        <tr>
          <td colspan="2">
            <span>1. Nazwa</span>
          </td>
          <td>
            <span>2. Czas powstania</span>
          </td>
        </tr>
        <!-- 3rd row -->
        <tr>
          <td colspan="3" rowspan="4">
            <span>8. Fotografia z opisem wskazującym orientację albo mapa z zaznaczonym stanowiskiem archeologicznym</span>
            <img src="https://lh3.googleusercontent.com/8EEG1uJSzlBGeeZ_eaV8xXxCBbikQNYWVg238pKoxSsW78Ea2vNki33aOp27x3vM14RGncWhNYT8FO4Hh7wqXZJiBDUVGqBzBmESp0QETQ2tfKjayY9ENkzNc_hGgFQhYO-jTqZZNg_NuhIH1MlYDFUtMC0Z9E6esuyOj3_Q735zXnYzjXVbQpSaSwDvMbqsEA9CCTtnhO-rfQSmxLhpdZ5x_XKPcVGXjjxVkGyYS6MGlGfPO_BK1xNnEYYx58GpTtv25pXA6esIHv6MxBntFUmNEP8Pv_x4HEYthucXhZphrIwrHTiQ3XnxFd_n7rn5yrqAZsDHSVgMwpTaFwaj_iNzLutJmm3AgaVqPXVStGMZ9iQDX4RK1dNYpD4pNloaO0xlenSZDKWBg5Jir1glNLYiLcQcz4VOQHN5ZUNVCEV6_oi61eEiRql6PXSaGfhBu3NsunLvoIcATpteQpvls6Ksbf814OmvCLs9Czmc8Od4lFovydi_9VOQ-eQi9p4pfq-i2KeMUHTeXuVrxR2xMdvU66hd6rD9ew4h_ci9r6PhyA58lPWIwn5499h3wmurvkw-0Qeqc-SC2MUxRNx15LsYnLLMcHE=w640">
          </td>
          <td>
            <span>4. Adres</span>
          </td>
        </tr>
        <!-- 4th row -->
        <tr>
          <td>
            <span>5. Przynależność administracyjna</span><br>
            <p>
              <span>województwo</span>
            </p>
            <p>
              <span>powiat</span>
            </p>
            <p>
              <span>gmina</span>
            </p>
          </td>
        </tr>
        <!-- 5th row -->
        <tr>
          <td>
            <span>6. Formy ochrony</span>
          </td>
        </tr>
        <!-- 6th row -->
        <tr>
          <td>
            <span>7. Opracowanie karty adresowej (autor, data i&nbsp;podpis)</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

{% endblock %}
