{% extends 'heritage_register/home.html' %}

{% block content %}
  <div class="card-pattern">
    <form method="POST" id="form" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.errors }}
      {{ form.non_field_errors }}
      <table>
        <!-- header -->
        <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <!-- 1st row -->
        <tbody>
        <tr>
          <td class="card-type">
            GEZ
          </td>
          <td colspan="2" class="card-title">
            KARTA ADRESOWA ZABYTKU NIERUCHOMEGO
          </td>
          <td rowspan="2">
            <span>3. Miejscowość</span>
            {% block relic-place %}
            {% endblock %}
          </td>
        </tr>
        <!-- 2nd row -->
        <tr>
          <td colspan="2">
            <span>1. Nazwa</span>
            {% block relic-name %}
            {% endblock %}
          </td>
          <td>
            <span>2. Czas powstania</span>
            {% block relic-time %}
            {% endblock %}
          </td>
        </tr>
        <!-- 3rd row -->
        <tr>
          <td colspan="3" rowspan="4">
            <span>8. Fotografia z opisem wskazującym orientację albo mapa z zaznaczonym stanowiskiem archeologicznym</span>
            {% block relic-image %}{% endblock %}
          </td>
          <td>
            <span>4. Adres</span>
            {% block relic-address %}
            {% endblock %}
          </td>
        </tr>
        <!-- 4th row -->
        <tr>
          <td>
            <span>5. Przynależność administracyjna</span><br>
            <p>
              <span>województwo</span>
              {% block relic-province %}
              {% endblock %}
            </p>
            <p>
              <span>powiat</span>
              {% block relic-district %}
              {% endblock %}
            </p>
            <p>
              <span>gmina</span>
              {% block relic-municipality %}
              {% endblock %}
            </p>
          </td>
        </tr>
        <!-- 5th row -->
        <tr>
          <td>
            <span>6. Formy ochrony</span>
            {% block relic-protection %}
            {% endblock %}
          </td>
        </tr>
        <!-- 6th row -->
        <tr>
          <td>
            <span>7. Opracowanie karty adresowej (autor, data i&nbsp;podpis)</span>
            {% block relic-author %}
            {% endblock %}
          </td>
        </tr>
        </tbody>
      </table>
    </form>
  </div>
{% endblock %}
