{% extends 'heritage_register/base.html' %}

{% block title %}
    strona główna
{% endblock %}

{% block nav %}
    <nav>
    menu
    </nav>
{% endblock %}

{% block aside %}
    <aside>
    {% if user.is_authenticated %}
        {{user.username}}
        <p><a href="{% url 'logout' %}">Wyloguj</a></p>
    {% else %}
        <a href="{% url 'login' %}">Zaloguj</a> |
        <a href="{% url 'signup' %}">Zarejestruj</a>
    {% endif %}
    </aside>
{% endblock %}

{% block content %}
{% endblock %}
