{% extends 'heritage_register/base.html' %}

{% block title %}
  strona główna
{% endblock %}

{% block nav %}
  <nav>
    <ul class="nav">
      <li><a href="{% url 'relic' %}">Nowa karta</a></li>
      <li><a href="{% url 'relic-details' 1 %}">Przeglądanie kart</a></li>  <!-- TODO: change 1 to first object, if exists-->
      <li>Export</li>
      {% if user.is_authenticated %}
        <li>menu zalogowany</li>
      {% else %}
        <li>menu</li>
      {% endif %}
    </ul>

    <aside>
      {% if user.is_authenticated %}
        {{ user.username }}
        <p><a href="{% url 'logout' %}">Wyloguj</a></p>
      {% else %}
        <a href="{% url 'login' %}">Zaloguj</a> |
        <a href="{% url 'signup' %}">Zarejestruj</a>
      {% endif %}
    </aside>

  </nav>
{% endblock %}

{% block content %}
{% endblock %}
