{% extends 'heritage_register/home.html' %}

{% block content %}
  <table id="all_relic">
    <thead>
    <tr>
      <th rowspan="2">Nazwa</th>
{#      <th></th>#}
      <th rowspan="2">Miejscowość</th>
      <th rowspan="2">Adress</th>
      <th colspan="2" class="opr">Opracowanie karty</th>
    </tr>
    <tr>
{#      <th></th>#}
{#      <th></th>#}
{#      <th></th>#}
{#      <th rowspan="2">Czas powstania</th>#}
      <th class="date">data</th>
      <th>autor</th>
    </tr>
    </thead>
    <tbody>
    {% for instance in object_list %}

      <tr>
        <td><a href="{% url 'relic-details' %}">
          {{ instance.name }}</a>
        </td>
{#        <td>#}
{#          {{ instance.time_of_creation|date|default:"&mdash;" }}#}
{#        </td>#}
        <td>
          {{ instance.place|default:"&mdash;" }}
        </td>
        <td>
          {{ instance.address|default:"&mdash;" }}
        </td>
        <td>
          {{ instance.date|date }} r.
        </td>
        <td>
          {{ instance.author.first_name|default:"&mdash;" }}
          {{ instance.author.last_name|default:"&mdash;" }}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block inner %}
{#  <nav>#}
    <a href="{% url 'pdf' %}" class="page-nav fa fa-file-pdf"></a>
{#  </nav>#}
{% endblock %}
