{% extends 'heritage_register/card_pattern.html' %}

{% block relic-name %}
  {{ relic.name }}
{% endblock %}

{% block relic-time %}
  {{ relic.time_of_creation }}
{% endblock %}

{% block relic-place %}
  {{ relic.place }}
{% endblock %}

{% block relic-address %}
  {{ relic.address }}
{% endblock %}

{% block relic-province %}
  {{ relic.province }}
{% endblock %}

{% block relic-district %}
  {{ relic.district }}
{% endblock %}

{% block relic-municipality %}
  {{ relic.municipality }}
{% endblock %}

{% block relic-protection %}
  {{ relic.relics_of_protection }}
{% endblock %}

{% block relic-author %}
  <p>
    {{ relic.author.first_name }} {{ relic.author.last_name }}, {{ relic.date|date:'d E Y \r.' }}
  </p>
{% endblock %}

{% block relic-image %}
  {{ relic.image }}
{% endblock %}


{% block footer %}
  <footer>
    {% if is_paginated %}
      {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">prev</a>
      {% else %}
        <span>prev</span>
      {% endif %}

      {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
          <span>{{ i }}</span>
        {% else %}
          <a href="?page={{ i }}">{{ i }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
      {% endif %}
      <a href="" onclick="{event.preventDefault(); document.querySelector('.confirm-delete-form').style.display='block';}">X</a>
      <a href="{% url 'relic-update' relics_list.0.pk %}">E</a>
      <a href="{% url 'pdf' page_obj.number %}">P</a>
    {% endif %}
  </footer>
{% endblock %}

{% block content %}
  {{ block.super }}
  {% include 'heritage_register/relic_confirm_delete.html' %}
{% endblock %}
